@media only screen and (min-width: 1401px){
    *{
        margin: 0px;
        padding: 0px;
        text-decoration: none;
        list-style: none;
        font-family: 'Lato', sans-serif;
    }
    
    .contenedor{
        width: 1440px;
        margin:0px auto;
        min-height: 90vh;
    }
    
    .seccion{
        display: block;
        width: 90%;
        margin: auto;
    }
    

/*/////////////////////////////////// MENU NAVEGACION //////////////////////////////////*/
    
    .barraMenu{
        display: block;
        background-color:rgb(15, 74, 152);
        height: 40px;
        margin: auto;
        overflow: hidden;
        border-bottom: 1px solid white;
    }
    
    .carrito{
        float: right;
        padding-top: 8px;
        padding-right: 10px;
        
    }
    
    .carrito li{
        display: block;
        border-radius: 3px;
        border: 1px solid rgb(15, 74, 152);
    }
    
    .carrito li a{
        color: white;
        text-decoration: none;
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .carrito li:hover{
        border-radius: 3px;
        border: 1px solid white;
    }
    
    .menu{
        padding-top: 8px;
        margin-left: 10px;
    }
    
    .menu li a{
        display: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 15px;
        color: white;
    }
    
    .menu ul li {
        display: inline-block;
        border-radius: 3px;
        border: 1px solid rgb(15, 74, 152);
    }
    
    .menu ul li a {
        display: inline;
        color: white;
        text-decoration: none;
    }
    
    .menu ul li:hover{
        border-radius: 3px;
        border: 1px solid white;
    }
    
    .menu ul li a i{
        display: inline;
        margin-right: 10px;
        color: white;
    }
    
/*/////////////////////////////////// CABECERA //////////////////////////////////*/

    .cabecera{
        background-color: rgb(15, 74, 152);
        overflow: hidden;
    }
    
    .cabeceraExterna{
        display: block;
        width: 80%;
        height: auto;
        margin: auto;
    }

    .cabeceraExterna .logo{
        display: block;
        width: 35%;
        margin: 0px auto;
    }

    .cabeceraExterna .logo img{
        display: block;
        width: 35%;
        margin: auto;
    }

    .cabeceraTienda{
        display: block;
        width: 100%;
        height: auto;
        border-bottom: 1px solid rgb(211, 211, 211);
    }

    .cabeceraTienda .logo{
        display: block;
        width: 30%;
        margin: auto;
    }

  

    
/*////////////////////////////////// BARRA BUSQUEDA //////////////////////////////////*/
    
    .busqueda{
        float: block;
        width: 70%;
        margin: 0px auto 20px auto;
        
    }

    .busquedaTienda{
        margin: 15px 0px;
    }

    .barraBusqueda{
        display: block;
        margin: 25px, 50px;
        border-bottom: 1px solid lightgray;
        background-color: white;
        border-radius: 20px;
    }
    
    .barraBusqueda .icono{
        display: inline-block;
        font-size: 20px;
        margin: 8px 15px;
    }

    .barraBusqueda .cajon{
        display: inline-block;
        width: 90%;
        margin: 8px 0px;
    }
    
    .barraBusqueda .cajon input{
        border:0px;
        width: 100%;
        height: 80%;
        background-color: transparent;
        box-sizing: border-box;
        font-size: 20px;
    }
    
    .barraBusqueda .cajon input:focus{
        outline: 0px;
    }
    
    
/*////////////////////////////////// CARRUSEL //////////////////////////////////*/
    
    .carrusel{
        height: 380px;
        width: 100%;
        margin: 15px auto;
        border-radius: 4px 4px;
        overflow: hidden;
    }
    
    .imagen-carrusel{
        width: 100%;
        height: 385px;
        overflow: hidden;
        border-radius: 4px 4px;
    }


/*////////////////////////////////// TIENDA //////////////////////////////////*/

    .titulo{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }

    .titulo h6{
        font-size: 25px;
        font-weight: bolder;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .categorias{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .categorias a{
        text-decoration: none;
        color: grey;
    }

    .categoria{
        display: flex;
        min-width: 24%;
        min-height:  350px;
        margin: 15px 10px 15px 5px;
        border-radius: 4px;
        background-size: 100% 100%;
        background-position: center;
        justify-content: center;
        transition: 0.5s;
    }

    .categoria:hover{
        background-size: 120% 120%;
    }

    .categoria button{
        display: block;
        border-radius: 15px;
        background-color: white;
        padding: 5px 15px;
        text-decoration: none;
        font-weight: bold;
        margin-top: 300px;
    }

    .destacados{
        text-align: center ;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .destacado{
        display: inline-block;
        width: 200px;
        height: auto;
        margin: 15px 5px 15px 15px;
        border-radius: 5px;
        background-color: lightskyblue;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        transition: 0.5s;
        overflow: auto;
    }

    .destacado a{
        text-decoration: none;
    }

    .destacado:hover{
        background-color:rgb(16, 75, 153);
    }

    .destacado:hover .descripcion p{
        color: white;
    } 

    .destacado img {
        display: block;
        width: 100%;
        height: 220px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
    }

    .destacados .descripcion{
        height: 50px;
    }

    .destacados .descripcion p{
        display: block;
        text-align: center;
        color: white;
        margin: 0px;
        padding: 5px;
        line-height:15px;
    }

    .destacado .precio{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .destacados .precio p{
        display: inline;
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: green;
        margin: 0px;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 0px 0px 15px 0px;
    }

    .tienda{
        width: 80%;
        margin: 0px auto ;
        overflow: hidden;
    }

    .filtros{
        float: left;
        width: 20%;
        height: auto;
        border-right: 1px solid lightgrey;
        background-color: white;
        margin-right: 15px;
        border-radius: 5px;
    }

      .filtros h4{
        display: block;
        padding: 15px 0px 5px 15px;
        font-weight: bolder;
        border-bottom: 1px solid lightgrey;
    }

    .filtros h5{
        padding: 5px 35px;
        font-weight: bold;
    }

    .filtros ul li{
        padding: 5px 55px;
    }

    .filtros ul li a{
        text-decoration: none;
        color: black;
    }

    .resultados{
        float: left;
        width: 78%;
        margin: 0px;
        padding: 0px;
    }

    .camino{
        background-color: whitesmoke;
        height: 40px;
        margin-bottom: 15px;
        border-radius: 5px;
    }

    .productos{
        text-align: center;
        height: auto;
        background-color: white;
        border-radius: 5px;
        border-right: 1px solid lightgrey;
    }

    .producto{
        display: inline-block;
        width: 200px;
        height: auto;
        margin: 15px 5px 15px 15px;
        border-radius: 5px;
        background-color: lightskyblue;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
        transition: 0.5s;
        overflow: auto;
    }

    .producto img {
        display: block;
        width: 100%;
        height: 220px;
        border-radius: 5px 5px 0px 0px;
        overflow: hidden;
    }

    .producto a{
        text-decoration: none;
    }

    .producto:hover{
        background-color:rgb(16, 75, 153);
    }

    .producto:hover .descripcion p{
        color: white;
    } 

    .productos .descripcion{
        height: 50px;
    }

    .productos .descripcion p{
        display: block;
        text-align: center;
        color: white;
        margin: 0px;
        padding: 5px;
        line-height:15px;
    }

    .producto .precio{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .productos .precio p{
        display: inline;
        text-align: center;
        font-size: 14px;
        color: white;
        background-color: green;
        margin: 0px;
        border-radius: 20px;
        padding: 5px 10px;
        margin: 0px 0px 15px 0px;
    }

    
/*////////////////////////////// CONTENIDOS_MENU //////////////////////////////*/
    
    .contenido{
       width: 100%;
       margin: auto;
    }
    
    #contenidoPestana{
        margin-top: 0px;
    }
    
    .pestanas{
        padding: 10px;
    }
    
 /*////////////////////////////// VENTANA //////////////////////////////*/
    
    .ventana{
        width: 100%;
        margin-bottom: 15px;
    }
    
    .ventana-titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: rgb(233,236,239);
        border-radius: 4px 4px 0px 0px;
        border: 1px solid rgb(211, 211, 211);
        border-bottom: none;
        padding-left: 18px;
        color: grey;
        font-weight: bold;
        font-size: 16px;
        font-weight: bolder;
        text-transform: uppercase;
    }
    
    .ventana-contenido{
        background-color: white;
        height: auto;
        border: 1px solid rgb(211, 211, 211);
        width: 100%;
        padding: 10px;
    }
    
/*////////////////////////////// CINTA DE OPCIONES //////////////////////////////*/
    
    .cinta{
        background-color: white;
        border-radius: 4px;
        border: 1px solid rgb(211, 211, 211);
        width: 100%;
        margin: auto;
        margin-top: 15px ;
        margin-bottom: 15px;
    }
    
    .opcion{
        display: inline-block;
        width: 6%;
        background-color: whitesmoke;
        border-radius: 5px;
        height: auto;
        margin: 5px 0px 5px 5px;
    }
    
    .opcion a{
        text-decoration: none;
        color: white;
    }
    
    .opcion a:hover{
        background-color: rgb(235, 235, 235);
    }
    
    .opcion a:hover > .opcion-icono{
        opacity: 90%;
    }
    
    .opcion a:hover > .opcion-titulo{
        background-color:rgb(15, 74, 152);
    }
    
    .opcion-icono{
        width: 100%;
        padding: 2px;
        opacity: 50%;
    }
    
    .opcion-titulo{
        display: block;
        font-size: 9px;
        border-radius: 0px 0px 5px 5px;
        background-color: lightskyblue;
        border: 0px;
        padding: 5px 5px;
        text-align: center;
    }
    
/*////////////////////////////// INDEX //////////////////////////////*/
    
    .index{
        border-radius: 5px;
        background-color:rgb(248,250,252);
        height: auto;
    }
    
    .index div{
        padding: 10px 20px;
        width: 100%;
        border: 1px solid lightgray;
        margin:auto;
    }
    
    .index div h6{
        color: rgb(15, 74, 152);
        font-weight: bold;
        font-size: small;
    }
    
/*////////////////////////////// TABLAS //////////////////////////////*/
    
    .tabla{
        width: 100%;
        text-align: left;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 10px;
        border-collapse: collapse;
    }
    
    .tabla thead{
        background-color:grey ;
        color: white;
        border-bottom: 3px solid darkgray;
    }
    
    .tabla th, td{
        padding: 5px 20px;
        border-bottom: 1px solid lightgrey;
        text-decoration: none;
        font-weight: normal;
        font-size: 12px;
        width: auto;
    }

    .tabla td span{
        color: white;
    }
    
    .tabla tbody tr:hover{
        background-color: rgb(225,225,225);
    }
    
    .paginacion{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .tabla td img{
        width: 40%;
        height: auto;
        border: 1px solid white;
    }

/*////////////////////////////// BOTONES DE ACCION //////////////////////////////*/
    
    .btnAccionPrecaucion{
        display: inline-flex;
        font-size: 10px;
        border-radius: 5px;
        background-color: lightpink;
        color: white;
        border: 0px;
        text-decoration: none;
        vertical-align: middle;
        padding: 3px 5px;
        margin: 1px;
    }
    
    .btnAccionPrecaucion:hover{
        text-decoration: none;
        background-color: red;
        color: white;
    }
      
     .btnAccionPrimario{
        display: inline-flex;
        font-size: 10px;
        border-radius: 5px;
        background-color: lightskyblue;
        color: white;
        border: 0px;
        text-decoration: none;
        vertical-align: middle;
        padding: 3px 5px;
        margin: 1px;
    }
    
    .btnAccionPrimario:hover{
        background-color: rgb(15, 74, 152);
        text-decoration: none;
        color: white;
    }
    
    
/*////////// IMAGENES PRODUCTOS //////////*/
    
    .formulario{
        width: 95%;
        margin:auto;
        margin:15px;
    }
    
    .formulario-archivo{
        display: inline;
    }
    
    .formulario-archivo label{
        border: none;
        background-color: rgb(108,117,125);
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 5px 0px 0px 5px;
    }
    
    .formulario-archivo input[type="text"] {
        border: 1px solid rgb(211, 211, 211);
        height: 29px;
        vertical-align: middle;
        color: gray;
        width: 40%;
    }
    
    .formulario-archivo input[type="file"] {
        display: none;
    }
    
    .formulario-archivo button{
        display: inline;
        border: none;
        background-color: rgb(0, 123, 255);;
        padding: 5px 10px;
        color: white;
        font-size: 12px;
        font-weight: bold;
        border-radius: 0px 5px 5px 0px;
    }
    
    .galeria{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .marcoImagen{
        width: 15%;
        margin: 10px 10px 0px 0px;
        border: 2px solid rgb(211, 211, 211);
    }

    .imagenProducto{
        width: 100%;
        padding: 3px;
    }

    .btnImagenEliminar{
        display: block;
        font-size: 16px;
        background-color: lightpink;
        border: 0px;
        padding: 5px 10px;
        text-align: center;
        color: black;
        margin:3px;
        text-decoration: none;
    }
    
    .btnImagenEliminar:hover{
        text-decoration: none;
        color: white;
        background-color: rgb(220, 53, 69);
    }
    
    .btnImagenNoPredeterminada{
        display: block;
        font-size: 16px;
        background-color: lightgray;
        border: 0px;
        padding: 5px 10px;
        text-align: center;
        color: black;
        margin:3px;
    }
    
    .btnImagenNoPredeterminada:hover{
        text-decoration: none;
        color: white;
        background-color: rgb(108,117,125);
    }
    
    .btnImagenPredeterminada{
        display: block;
        font-size: 16px;
        background-color: rgb(0, 123, 255);
        border: 0px;
        padding: 5px 10px;
        text-align: center;
        color: white;
        margin:3px;
    }
    
    .btnImagenPredeterminada:hover{
        text-decoration: none;
        color: white;
    }

/*////////// BARRA DE ESTADO //////////*/
    
    .barraEstado{
        background-color:gray;
        height: 30px;
        margin:auto;
    }
    
    .barraEstado div{
        font-size: small;
        color: white;
        margin-top: 5px;
        margin-left: 7px;
        margin-right: 7px;
    }
    
    .barraEstado div :nth-child(1){
        float: right;
    }
    
    .barraEstado div :nth-child(2){
        float: left;
    }
    
    
/*////////// OTROS //////////*/
    
    
    .mapa{
        width: 50%;
        height: 200px;
        margin:auto;
        padding-left: 100px;
    }
    
    #indice{
        margin-top: 15px;
    }
    
    
    
}



